<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
			crossorigin="anonymous" />
		<link rel="stylesheet" href="__PUBLIC__/Qiantai/css/luntan.css">
	</head>
	<body class="bg-jb">
		<nav class="navbar navbar-expand-lg  navbar-dark bg-light fixed-top ">
			<div class="container">
				<a href="index.html" class="navbar-brand text-dark">mwcq的博客</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span
						class="navbar-toggler-icon"></span></button>

				<div class="collapse navbar-collapse " id="navmenu">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item">
							<a href="qianduan.html" class="btn nav-link text-dark">学习前端</a>
						</li>
						<li class="nav-item">
							<a href="youxi.html" class="btn nav-link text-dark">游戏论坛</a>
						</li>
						<li class="nav-item">
							<a href="#" class="btn nav-link text-dark">二次元动漫</a>
						</li>

					</ul>
				</div>
			</div>
		</nav>


		<section class="p-5 text-dark w-70 mx-auto bg-light">
			<div class="container">
				
			</div>
		</section>


		<footer class="p-5  text-dark text-center">
			<div class="container">
				<p class="lead">Copyright &copy; 2022 mwcq</p>
			</div>
		</footer>

	</body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
	</script>
</html>
