<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>瞎写并且成分复杂的网站</title>
	</head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
	<link rel="stylesheet" href="__PUBLIC__/Qiantai/css/new_file.css">
	<body>
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
			<div class="container">
				<a href="index.html" class="navbar-brand">mwcq的博客</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span
						class="navbar-toggler-icon"></span></button>

				<div class="collapse navbar-collapse" id="navmenu">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item">
							<a href="qianduan.html" class="btn nav-link">学习前端</a>
						</li>
						<li class="nav-item">
							<a href="youxi.html" class="btn nav-link">游戏论坛</a>
						</li>
						<li class="nav-item">
							<a href="dm.html" class="btn nav-link">二次元动漫</a>
						</li>

					</ul>
				</div>
			</div>
		</nav>

		<section class="p-5 bg-dark text-light text-center text-sm-start mt-2">
			<div class="container">
				<div class="d-flex">
					<div>
						<h1>欢迎！<span class="text-warning">这是我无聊或学习新东西想到什么就写什么的网站</span></h1>
						<p class="my-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero recusandae
							labore voluptates, alias cum non. Aspernatur est voluptas quisquam illo deserunt quibusdam
							minima natus atque et consequatur ducimus, cum accusantium.</p>
						<button class="btn btn-primary btn-lg">目前还没想好做什么的按钮</button>
					</div>
					<img src="__PUBLIC__/Qiantai/img/showcase.svg" alt="showcase" class="w-50 d-none d-md-block">
				</div>
			</div>

		</section>

		

		<section class="p-5">
			<div class="container">
				<div class="row g-4">
					<div class="col-md">
						<div class="card bg-dark text-light">
							<div class="card-body text-center">
								<div class="card-title">
									前端知识
								</div>
								<div class="card-text">
									<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
								</div>
								<a href="qianduan.html" class="btn btn-primary mt-2">学习前端</a>
							</div>
						</div>
					</div>
					<div class="col-md">
						<div class="card bg-secondary text-light">
							<div class="card-body text-center">
								<div class="card-title">
									游戏论坛
								</div>
								<div class="card-text">
									<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
								</div>
								<a href="youxi.html" class="btn btn-dark mt-2">点击进入</a>
							</div>
						</div>
					</div>
					<div class="col-md">
						<div class="card bg-dark text-light">
							<div class="card-body text-center">
								<div class="card-title">
									二次元动漫
								</div>
								<div class="card-text">
									<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
								</div>
								<a href="dm.html" class="btn btn-primary mt-2">查看资源</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="p-5">
			<div class="container">
				<div class="row align-items-center justify-content-between">
					<div class="col-md">
						<img src="__PUBLIC__/Qiantai/img/1.svg" alt="1" class="img-fluid">
					</div>
					<div class="col-md p-5">
						<h2>前端介绍</h2>
						<p class="lead">HTML、CSS、JavaScript</p>
						<p>这三个是前端开发中最基本也是最必须的三个技能。前端的开发中，在页面的布局时，
							HTML将元素进行定义，CSS对展示的元素进行定位，再通过JavaScript实现相应的效果和交互。虽然表面看起来很简单，但这里面需要掌握的东西绝对不会少。在进行开发前，需要对这些概念弄清楚、弄明白，这样在开发的过程中才会得心应手。
						</p>
						<a href="qianduan.html" class="btn btn-light">查看更多</a>
					</div>
				</div>
			</div>
		</section>

		<section class="p-5  bg-dark text-light">
			<div class="container">
				<div class="row align-items-center justify-content-between">

					<div class="col-md p-5">
						<h2>后端介绍</h2>
						<p class="lead">后端是做对应前端而言的，编写代码基本上是提供给前端调用，是不需要处理UI的内容．比如：逻辑层。</p>
						<p>网站的后端涉及搭建服务器、保存和获取数据，以及用于连接前端的接口。如果说前端开发者关心的是网站外观，那么后端开发者关心的是如何通过代码、API和数据库集成来提升网站的速度、性能和响应性。
						</p>
						<a href="youxi.html" class="btn btn-light">查看更多</a>
					</div>
					<div class="col-md">
						<img src="__PUBLIC__/Qiantai/img/2.svg" alt="1" class="img-fluid">
					</div>
				</div>
			</div>
		</section>

		<section class="p-5">
			<div class="container">
				<h2 class="text-center">分区</h2>
				<div class="accordion accordion-flush" id="accordionFlushExample">
					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingOne">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
								data-bs-target="#flush-collapseOne" aria-expanded="false"
								aria-controls="flush-collapseOne">
								Accordion Item #1
							</button>
						</h2>
						<div id="flush-collapseOne" class="accordion-collapse collapse"
							aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
							<div class="accordion-body">Placeholder content for this accordion, which is intended to
								demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion
								body.</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingTwo">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
								data-bs-target="#flush-collapseTwo" aria-expanded="false"
								aria-controls="flush-collapseTwo">
								Accordion Item #2
							</button>
						</h2>
						<div id="flush-collapseTwo" class="accordion-collapse collapse"
							aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
							<div class="accordion-body">Placeholder content for this accordion, which is intended to
								demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion
								body. Let's imagine this being filled with some actual content.</div>
						</div>
					</div>
					<div class="accordion-item">
						<h2 class="accordion-header" id="flush-headingThree">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
								data-bs-target="#flush-collapseThree" aria-expanded="false"
								aria-controls="flush-collapseThree">
								Accordion Item #3
							</button>
						</h2>
						<div id="flush-collapseThree" class="accordion-collapse collapse"
							aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
							<div class="accordion-body">Placeholder content for this accordion, which is intended to
								demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion
								body. Nothing more exciting happening here in terms of content, but just filling up the
								space to make it look, at least at first glance, a bit more representative of how this
								would look in a real-world application.</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="p-5 bg-grey">
			<div class="container">
				<h2 class="text-center text-white">Lorem, ipsum dolor.</h2>
				<p class="lead text-center text-white mb-5">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta ipsum libero beatae hic quis quia.
				</p>
				<div class="row g-4">
					<div class="col-md-6 col-lg-3">
						<div class="card bg-light">
							<div class="card-body text-center">
								<img src="__PUBLIC__/Qiantai/img/bl1.jpg" class="mb-3 rounded-circle img-thumbnail" alt="">
								<h3 class="card-title">lorem</h3>
								<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quasi
									iste similique eligendi rerum corrupti voluptatum, veritatis nisi labore blanditiis
									dolore autem vero error. Placeat dolor et eligendi minus quibusdam!</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="card bg-light">
							<div class="card-body text-center">
								<img src="__PUBLIC__/Qiantai/img/1.jpg" class="mb-3 rounded-circle img-thumbnail" alt="">
								<h3 class="card-title">lorem</h3>
								<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quasi
									iste similique eligendi rerum corrupti voluptatum, veritatis nisi labore blanditiis
									dolore autem vero error. Placeat dolor et eligendi minus quibusdam!</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="card bg-light">
							<div class="card-body text-center">
								<img src="__PUBLIC__/Qiantai/img/4.jpg" class="mb-3 rounded-circle img-thumbnail" alt="">
								<h3 class="card-title">lorem</h3>
								<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quasi
									iste similique eligendi rerum corrupti voluptatum, veritatis nisi labore blanditiis
									dolore autem vero error. Placeat dolor et eligendi minus quibusdam!</p>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3">
						<div class="card bg-light">
							<div class="card-body text-center">
								<img src="__PUBLIC__/Qiantai/img/3.jpg" class="mb-3 rounded-circle img-thumbnail" alt="">
								<h3 class="card-title">lorem</h3>
								<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod quasi
									iste similique eligendi rerum corrupti voluptatum, veritatis nisi labore blanditiis
									dolore autem vero error. Placeat dolor et eligendi minus quibusdam!</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="p-5 text-center">
			<div class="container">
				<h2 class="text-center mb-4">联系方式</h2>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">QQ：908680719</li>
					<li class="list-group-item">B站：墨挽尘迁</li>
					<li class="list-group-item">电话：13104072867</li>
				</ul>
			</div>
		</section>

		<footer class="p-5 bg-dark text-light text-center">
			<div class="container">
				<p class="lead">Copyright &copy; 2022 mwcq</p>
			</div>
		</footer>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
		</script>
	</body>
</html>
