<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>瞎写并且成分复杂的网站</title>
	</head>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
	<link rel="stylesheet" href="__PUBLIC__/Qiantai/css/new_file.css">
	<body>
		<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top ">
			<div class="container">
				<a href="index.html" class="navbar-brand">mwcq的博客</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu"><span
						class="navbar-toggler-icon"></span></button>



				<div class="collapse navbar-collapse" id="navmenu">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item">
							<a href="youxixiazai.html" class="btn nav-link">游戏下载</a>
						</li>
						<li class="nav-item">
							<a href="qianduan.html" class="btn nav-link">学习前端</a>
						</li>
						<li class="nav-item">
							<a href="youxi.html" class="btn nav-link">游戏论坛</a>
						</li>
						<li class="nav-item">
							<a href="dm.html" class="btn nav-link">二次元动漫</a>
						</li>

					</ul>
				</div>
			</div>
			</div>
		</nav>


		<section class="p-5 mt-4">
			<div id="demo" class="carousel slide" data-bs-ride="carousel">

				<!-- 指示符 -->
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
					<button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
					<button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
				</div>

				<!-- 轮播图片 -->
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="__PUBLIC__/Qiantai/img/whr.jpg" class="d-block w-75 rounded mx-auto" style="width:100%">
						<div class="carousel-caption">
							<h3 class="">《怪物猎人：崛起》</h3>
							<p>游戏以“新动作、新原野、新怪物”为卖点，玩家将化身猎人进行狩猎，制作更强的武器装备以挑战更为强大的怪物。</p>
						</div>
					</div>
					<div class="carousel-item">
						<img src="__PUBLIC__/Qiantai/img/swgq2.jpg" class="d-block w-75 rounded mx-auto" style="width:100%">
						<div class="carousel-caption">
							<h3 class="">《死亡搁浅》</h3>
							<p>游戏讲述了主人公山姆必须勇敢直面因死亡搁浅而面目全非的世界，团结现存社会，拯救异空间人类的故事。</p>
						</div>
					</div>
					<div class="carousel-item">
						<img src="__PUBLIC__/Qiantai/img/aedfh.jpg" class="d-block w-75 rounded mx-auto" style="width:100%">
						<div class="carousel-caption">
							<h3 class="">《艾尔登法环》</h3>
							<p>该游戏让玩家走进辽阔的场景与地下迷宫探索未知，挑战困难重重的险境，同时体验登场角色之间的利害关系谱成的群像剧。</p>
						</div>
					</div>
				</div>


			</div>
		</section>

		<section class="p-5 text-dark">
			<div class="container">
				<h2 class="text-center text-info pb-3 border-bottom border-dark">游戏下载</h2>

				<div class="row g-6">
					<div class="col-md-6 col-lg-2">
						<a href="https://pan.baidu.com/s/1J8cytcnyN6aakx-6emJIPw?pwd=9999#list/path=%2F" class="btn">
							<div class="card bg-light">
								<div class="card-body text-center">
									<img src="__PUBLIC__/Qiantai/img/gd.jpg" class="mb-3 img-thumbnail w-75" alt="">

									<p class="card-text text-">《SD高达：激斗同盟》</p>
									</div>
						</div>
						</a>
					</div>
					<div class="col-md-6 col-lg-2">
						<a href="https://ys-api.mihoyo.com/event/download_porter/link/ys_cn/official/pc_default"
							class="btn">
							<div class="card bg-light">
								<div class="card-body text-center">
									<img src="__PUBLIC__/Qiantai/img/genshin.jpg" class="mb-3 img-thumbnail w-75" alt="">
									<p class="card-text">
										《原神》
									</p>
								</div>
							</div>
						</a>
					</div>
					<div class="col-md-6 col-lg-2">
						<a href="https://pan.baidu.com/s/1kW_awkplP7lBVUzYqCnQCw?pwd=9999#list/path=%2F" class="btn">
							<div class="card bg-light">
								<div class="card-body text-center">
									<img src="__PUBLIC__/Qiantai/img/miemie.jpg" class="mb-3  img-thumbnail w-75" alt="">

									<p class="card-text">《咩咩启示录》</p>
									</div>
						</div>
						</a>
					</div>
					<div class="col-md-6 col-lg-2">
						<a href="https://pan.baidu.com/s/17_yqvV25YgqKZwO_GD-WzQ?pwd=9999#list/path=%2F" class="btn">
							<div class="card bg-light">
								<div class="card-body text-center">
									<img src="__PUBLIC__/Qiantai/img/mhr2.jpg" class="mb-3 img-thumbnail w-75" alt="">

									<p class="card-text">《怪物猎人：崛起》</p>
									</div>
						</div>
						</a>
					</div>
					<div class="col-md-6 col-lg-2">
						<a href="https://pan.baidu.com/s/1kXBz8cxNNp-QRKhAMTSaDw" class="btn">
							<div class="card bg-light">
								<div class="card-body text-center">
									<img src="__PUBLIC__/Qiantai/img/aedfh2.jpg" class="mb-3 img-thumbnail w-75" alt="">

									<p class="card-text">《艾尔登法环》</p>
									</div>
						</div>
						</a>
					</div>
					<div class="col-md-6 col-lg-2">
						<a href="https://pan.baidu.com/s/1ypHWeu1PvfKwwXNkIs1HtQ#list/path=%2F" class="btn">
							<div class="card bg-light">
								<div class="card-body text-center">
									<img src="__PUBLIC__/Qiantai/img/swgq3.jpg" class="mb-3 img-thumbnail w-75" alt="">

									<p class="card-text">《死亡搁浅》</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</section>

		<footer class="p-5 bg-dark text-light text-center">
			<div class="container">
				<p class="lead">Copyright &copy; 2022 mwcq</p>
			</div>
		</footer>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
		</script>
	</body>
</html>
